<h1>New post form</h1>

<form action="/posts" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="content">Content</label>
  <input type="text" name="content">
  <input type="submit" value="submit" />
</form>
<!--
<h1>New Coffee Form</h1>

<form action="/coffees" method="post">
  <label for="origin">Origin:</label>
  <input id="origin" type="text" name="coffee[origin]" />
  <label for="price">Price:</label>
  <input id="price" type="text" name="coffee[price]" />
  <input type="submit" value="Create New Coffee" />
</form> -->
